extends _layout
block body
  div
  // 
  div(class='md:flex.md:flex-col')
    div(class='md:h-screen.md:flex.md:flex-col')
      div(class='md:flex.md:flex-shrink-0')
        .bg-indigo-900.px-6.py-4.flex.items-center.justify-between(class='md:flex-shrink-0 md:w-56 md:justify-center')
          a.mt-1(href='https://demo.inertiajs.com/')
            | htmx-CRM
          button(type='button' class='md:hidden')
            svg.fill-white.w-6.h-6(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
              path(d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z')
            // 
        .bg-white.border-b.w-full.p-4.text-sm.flex.justify-between.items-center(class='md:py-0 md:px-12 md:text-md')
          .mt-1.mr-4 Acme Corporation
          button.mt-1(type='button')
            .flex.items-center.cursor-pointer.select-none.group
              .text-gray-700.mr-1.whitespace-nowrap(class='group-hover:text-indigo-600 focus:text-indigo-600')
                span John
                span.hidden(class='md:inline') Doe
              svg.w-5.h-5.fill-gray-700(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='group-hover:fill-indigo-600 focus:fill-indigo-600')
                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
            // 
      div(class='md:flex md:flex-grow md:overflow-hidden')
        .hidden.bg-indigo-800.flex-shrink-0.w-56.p-12.overflow-y-auto(class='md:block')
          .mb-4
            a.flex.items-center.group.py-3(href='https://demo.inertiajs.com/')
              svg.w-4.h-4.mr-2.fill-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                path(d='M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z')
              .text-white Dashboard
          .mb-4
            a.flex.items-center.group.py-3(href='https://demo.inertiajs.com/organizations')
              svg.w-4.h-4.mr-2.fill-indigo-400(xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' class='group-hover:fill-white')
                path(fill-rule='evenodd' d='M7 0h86v100H57.108V88.418H42.892V100H7V0zm9 64h11v15H16V64zm57 0h11v15H73V64zm-19 0h11v15H54V64zm-19 0h11v15H35V64zM16 37h11v15H16V37zm57 0h11v15H73V37zm-19 0h11v15H54V37zm-19 0h11v15H35V37zM16 11h11v15H16V11zm57 0h11v15H73V11zm-19 0h11v15H54V11zm-19 0h11v15H35V11z')
              .text-indigo-300(class='group-hover:text-white') Organizations
          .mb-4
            a.flex.items-center.group.py-3(href='https://demo.inertiajs.com/contacts')
              svg.w-4.h-4.mr-2.fill-indigo-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='group-hover:fill-white')
                path(d='M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z')
              .text-indigo-300(class='group-hover:text-white') Contacts
          .mb-4
            a.flex.items-center.group.py-3(href='https://demo.inertiajs.com/reports')
              svg.w-4.h-4.mr-2.fill-indigo-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='group-hover:fill-white')
                path(d='M4 16H0V6h20v10h-4v4H4v-4zm2-4v6h8v-6H6zM4 0h12v5H4V0zM2 8v2h2V8H2zm4 0v2h2V8H6z')
              .text-indigo-300(class='group-hover:text-white') Reports
        .px-4.py-8(scroll-region='' class='md:flex-1 md:p-12 md:overflow-y-auto')
          div
            // 
            // 
          div
            h1.mb-8.font-bold.text-3xl Dashboard
            p.mb-8.leading-normal
              | Hey there! Welcome to Ping CRM, a demo app designed to help illustrate how 
              a.text-indigo-500.underline(href='https://inertiajs.com' class='hover:text-orange-600') Inertia.js
              |  works.
            .mb-8.flex
              a.btn-indigo(href='https://demo.inertiajs.com/500') 500 error
              a.btn-indigo.ml-1(href='https://demo.inertiajs.com/404') 404 error
            p.leading-normal
              | 👆 These links are intended to be broken to illustrate how error handling works with Inertia.js.

