extends _layout
block body
  .px-4.py-8(scroll-region='' class='md:flex-1 md:p-12 md:overflow-y-auto')
    div
      // 
      // 
    div
      h1.mb-8.font-bold.text-3xl Dashboard
      p.mb-8.leading-normal
        | Hey there! Welcome to htmx-CRM, a demo app designed to help illustrate how 
        a.text-indigo-500.underline(href='https://htmx.org' class='hover:text-orange-600') htmx
        |  works.
      .mb-8.flex
        a.btn-indigo(href='https://demo.inertiajs.com/500') 500 error
        a.btn-indigo.ml-1(href='https://demo.inertiajs.com/404') 404 error
      p.leading-normal
        | 👆 These links are intended to be broken to illustrate how error handling works.

