extends _layout
block body
  .px-4.py-8(scroll-region='' class='md:flex-1 md:p-12 md:overflow-y-auto')
    div
      // 
      // 
    div
      h1.mb-8.font-bold.text-3xl Organizations
      .mb-6.flex.justify-between.items-center
        .flex.items-center.w-full.max-w-md.mr-4
          .flex.w-full.bg-white.shadow.rounded
            button.px-4.rounded-l.border-r(type='button' class='md:px-6 hover:bg-gray-100 focus:border-white focus:ring focus:z-10')
              .flex.items-baseline
                span.text-gray-700.hidden(class='md:inline') Filter
                svg.w-2.h-2.fill-gray-700(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 961.243 599.998' class='md:ml-2')
                  path(d='M239.998 239.999L0 0h961.243L721.246 240c-131.999 132-240.28 240-240.624 239.999-.345-.001-108.625-108.001-240.624-240z')
              // 
            input.relative.w-full.px-6.py-3.rounded-r(autocomplete='off' type='text' name='search' placeholder='Search…' class='focus:ring')
          button.ml-3.text-sm.text-gray-500(type='button' class='hover:text-gray-700 focus:text-indigo-500') Reset
        a.btn-indigo(href='http://demo.inertiajs.com/organizations/create')
          span Create
          span.hidden(class='md:inline') Organization
      .bg-white.rounded-md.shadow.overflow-x-auto
        table.w-full.whitespace-nowrap
          tbody
            tr.text-left.font-bold
              th.px-6.pt-6.pb-4 Name
              th.px-6.pt-6.pb-4 City
              th.px-6.pt-6.pb-4(colspan='2') Phone
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/4/edit' class='focus:text-indigo-500')
                  | Abshire LLC
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/4/edit')
                  | Lake Alia
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/4/edit')
                  | 1-800-963-7931
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/4/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/43/edit' class='focus:text-indigo-500')
                  | Anderson, Kautzer and Herman
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/43/edit')
                  | Gleichnerberg
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/43/edit')
                  | 855.958.9685
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/43/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/70/edit' class='focus:text-indigo-500')
                  | Bartell PLC
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/70/edit')
                  | East Eltamouth
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/70/edit')
                  | 855.357.8251
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/70/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/45/edit' class='focus:text-indigo-500')
                  | Barton and Sons
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/45/edit')
                  | Melliebury
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/45/edit')
                  | 888-962-1346
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/45/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/100/edit' class='focus:text-indigo-500')
                  | Beatty-Tillman
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/100/edit')
                  | Port Jaidenhaven
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/100/edit')
                  | 866-283-6886
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/100/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/9/edit' class='focus:text-indigo-500')
                  | Bernhard-Dare
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/9/edit')
                  | Mayerthaven
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/9/edit')
                  | 1-888-981-5454
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/9/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/72/edit' class='focus:text-indigo-500')
                  | Bernhard, Friesen and Champlin
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/72/edit')
                  | Claudemouth
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/72/edit')
                  | 888-405-6479
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/72/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/67/edit' class='focus:text-indigo-500')
                  | Bernier-Kohler
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/67/edit')
                  | Hintzside
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/67/edit')
                  | 1-800-806-4510
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/67/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/25/edit' class='focus:text-indigo-500')
                  | Bode-Johnson
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/25/edit')
                  | Lake Dayna
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/25/edit')
                  | (888) 848-4492
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/25/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            tr(class='hover:bg-gray-100 focus-within:bg-gray-100')
              td.border-t
                a.px-6.py-4.flex.items-center(href='http://demo.inertiajs.com/organizations/87/edit' class='focus:text-indigo-500')
                  | Bogan-Christiansen
                  // 
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/87/edit')
                  | Ernestomouth
              td.border-t
                a.px-6.py-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/87/edit')
                  | 866.770.7922
              td.border-t.w-px
                a.px-4.flex.items-center(tabindex='-1' href='http://demo.inertiajs.com/organizations/87/edit')
                  svg.block.w-6.h-6.fill-gray-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                    polygon(points='12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707')
            // 
      .mt-6
        .flex.flex-wrap.-mb-1
          .mr-1.mb-1.px-4.py-3.text-sm.leading-4.text-gray-400.border.rounded « Previous
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded.bg-white(href='http://demo.inertiajs.com/organizations?page=1' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 1
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=2' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 2
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=3' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 3
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=4' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 4
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=5' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 5
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=6' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 6
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=7' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 7
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=8' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 8
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=9' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 9
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=10' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') 10
          a.mr-1.mb-1.px-4.py-3.text-sm.leading-4.border.rounded(href='http://demo.inertiajs.com/organizations?page=2' class='hover:bg-white focus:border-indigo-500 focus:text-indigo-500') Next »

